<div class="container">

    <div class="text-light p-5 bg-primary m-5 w-75" style="border-radius: 10pt;">
    <form #userForm=ngForm>
        <h2>Template Driven Form</h2>
        <h3>User Form</h3>
        <div class="form-group">
            <label>Enter Id</label>
            <input name="user.userId" [(ngModel)]="user.userId" class="form-control" required #user.userId="ngModel" >
            <div *ngIf="user.userId.touched && user.userId.errors?.['required']">
                     id is blank
            </div>           

        </div>

        <div class="form-group">
            <label>Enter Name</label>
            <input name="user.userName" [(ngModel)]="user.userName" class="form-control" minlength="5" maxlength="20" required=""
            #user.userName="ngModel">
            <div *ngIf="user.userName.touched && user.userName.errors?.['required']">
                name is blank
       </div>    
        </div>

        <div class="form-group">
            <label>Enter Salary</label>
            <input name="user.userName" [(ngModel)]="user.userSalary" class="form-control" required="">
        </div>

    </form>

    </div>
    <div class="bg-info m-5 w-75 p-5" style="font-weight: bolder; font-size: x-large;border-radius: 10pt;">

        <div>
            id is {{user.userId}}
        </div>
        <div>
            name is {{user.userName}}
        </div>
        <div>
            salary is {{user.userSalary}}
        </div>
    </div>